<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.522253599310-ljhi3dij1us1v2139jc4bdg0dqttvl4q</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>522253599310-ljhi3dij1us1v2139jc4bdg0dqttvl4q.apps.googleusercontent.com</string>
</dict>
</plist>
